<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /enable-v2/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [QSA,L]

	php_value display_errors  Off
	php_value max_execution_time  300
	php_value max_input_time  600
	php_value max_input_vars  1000
	php_value memory_limit  512M
	php_value post_max_size  50M
	php_value session.gc_maxlifetime  1440
	php_value upload_max_filesize  50M
	php_value zlib.output_compression  Off
</IfModule>

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin *
</IfModule>

